<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    
</head>


<!-- validation of the form -->


<script>
    function validateForm() {
        var x = document.forms["myform"]["city_name"].value;
        var x1 = document.forms["myform"]["mintemp"].value;
        var x2 = document.forms["myform"]["maxtemp"].value;
        if (x == "" || !isNaN(x)) {
            alert("Name must be in correct from");
            return false;
        }
        if (x1 == "" || isNaN(x1)) {
            alert("Minimum Temperature must be in correct form");
            return false;
        }
        if (x2 == "" || isNaN(x2)) {
            alert("Maximum Temperature must be in correct from");
            return false;
        }
    }
</script>
<!-- validation ends -->

<!--  visual chart begins  -->



<!--viusal chart ends-->



<body>
    <section  class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather..!
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
    <div class="column is-offset-4 is-4">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-50x50">
                        <img src="http://openweathermap.org/img/w/<%= weather.icon %>.png" alt="Image">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <span class="title">
                                <%= weather.city %>,
                                <%=weather.country%></span>
                            <br>
                            <span class="title">
                                <%= weather.temperature %>° C</span>
                            <br>
                            <%= weather.description %>
                            <span class="subtitle">Min :
                                <%= weather.minimum %> Max :
                                <%=weather.maximum%></span>
                            <br>
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form name="myform" method="GET" onsubmit="return validateForm()" action="/show">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="city_name" type="text" placeholder="City Name">
                                <input class="input" name="country_name" type="text" placeholder="Country Name(ISO)">
                                <!-- <input class="input" name="longitude" type="text" placeholder="Longitude">
                                <input class="input" name="latitude" type="text" placeholder="Latitude"> -->
                                <input class="input" name="mintemp" type="text" placeholder="Mininum Temperature">
                                <input class="input" name="maxtemp" type="text" placeholder="Maximum Temperature">

                                <div><br>

                                    <button class="button is-info" type="submit">Search</button>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
               </div>
              
               </div>
               </section>
               
   
</body>


</html>